{% extends 'base.html.twig' %}

{% block title %}Bienvenue - Green Goodies
{% endblock %}

{% block body %}
	<main>
		<section class="bienvenue-content">
			<div class="left-bienvenue">
				<div class="left-bienvenue-content">
					<h1>Bienvenue</h1>
					<p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
					<p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
				</div>
			</div>
			<div class="right-bienvenue">
				<img src="{{ asset('images/accueil.webp') }}" alt="Image de bienvenue">
			</div>
		</section>
		<section id="products" class="nos-produits ancre">
			<h3>NOS PRODUITS</h3>
			<ul>
				{% for product in products %}
					<li>
						<img src="{{ asset(product.picture) }}" alt="{{product.name}}">
						<h4>{{ product.name }}</h4>
						<div class="description">{{ product.shortDescription }}</div>
						<div class="price">{{ product.price|number_format(2, ',') }}€</div>
						<a href="/product/{{product.id}}" class="check-product">Voir le produit</a>
					</li>
				{% endfor %}
			</ul>
		</section>
		<section class="conviction">
			<div class="big beige">
				<div class="content-big">
					<h3>NOTRE CONVICTION</h3>
					<p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses
						<br>habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique</p>
				</div>
			</div>
			<div class="short">
				<img src="{{ asset("images/conviction.webp") }}" alt="Image de notre conviction">
			</div>
		</section>
		<section class="valeur">
			<div class="short">
				<img src="{{ asset("images/valeurs.webp") }}" alt="Image de notre conviction">
			</div>
			<div class="big apple">
				<div class="content-big">

					<h3>NOS VALEURS</h3>
					<p>Durabilité : Nous sélectionnons soigneusement des produits qui
						<br>respectent l'environnement et favorisent la durabilité.
						<br>Éthique : Nous nous engageons à travailler avec des partenaires et des
						<br>fournisseurs qui partagent nos valeurs éthiques.
						<br>Écologie : Nous encourageons des pratiques respectueuses de
						<br>l'écosystème et privilégions les matériaux écologiques.</p>
				</div>

			</div>
		</section>
	</main>
{% endblock %}
