{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<main class="shopping">
		<div class="center-content">
			<h1>Mon panier</h1>
			{% if products|length > 0 %}
				<a href="{{path('app_removeCard')}}" class="clear">x Vider le panier</a>
				{% for product in products %}
					<div class="shopping-card">
						<img src="{{asset(product.product.picture)}}" alt="{{product.product.name}}">
						<div class="right-shopping-card">
							<h2>{{ product.product.name }}</h2>
							<div class="quantity">Quantité :
								{{ product.quantity }} </div>
							<div class="price">{{ product.product.price|number_format(2, ',') }}€</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			<div class="content-total-shopping">
				<div class="total">Total panier :
					<span class="total-price">
						{% if products|length > 0 %}
							{{total|number_format(2, ',')}}€
						{% else %}
							0,00€
						{% endif %}
					</span>
				</div>
				<div class="livraison">Frais de livraison : Offert</div>
			</div>
			{% if products|length > 0 %}
				<form action="{{path('app_order', {'total': total})}}" method="POST">
					<input type="hidden" name="total" value="{{ total }}">
					<button type="submit" class="btn-darkgrey">Valider la commande</button>
				</form>
			{% endif %}
		</div>
	</main>
{% endblock %}
