{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<main class="shopping">
		<div class="center-shopping">
			<h1>Mon panier</h1>
			{% if shoppings is defined %}
				<a href="{{path('app_remove_shopping')}}">x Vider le panier</a>
				{% for product in shoppings %}
					<div class="shopping-card">
						<img src="{{asset(product.image)}}" alt="{{product.name}}">
						<div class="right-shopping-card">
							<h2>{{ product.name }}</h2>
							<div class="quantity">{{ product.quantity }}</div>
							<div class="price">{{ product.price }}</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			<div class="content-total-shopping">
				<div class="total">Total panier :
					<span class="total-price">
						{% if shoppings is defined %}
							{{shoppings.totalprice}}€
						{% else %}
							0,00€
						{% endif %}
					</span>
				</div>
				<div class="livraison">Frais de livraison : Offert</div>
			</div>
			<a href="#" class="btn-darkgrey">Valider la commande</a>
		</div>
	</main>
{% endblock %}
